.header {
    background-color: #1f222b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 25px;
    margin-bottom: 50px;
}

.header--shop {
}

.header--shop-number {
    margin-right: 10px;
    margin-left: auto;
}

h1, h2 {
    color: #38a3a5;
}
