@import url('https://use.typekit.net/fnr0ylt.css');

html, body {
    padding: 0;
    margin: 0;
    background-color: #282e3a;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    min-height: 0;
}

* {
    font-family: "museo-slab";
}

.page--category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 40px;

}

.containerz {
    display: flex;
    flex-direction: row;
}

.box--all {
    border-radius: 10px;
    width: 160px;
    height: 180px;
    margin-right: 8px;
    background-color: #f2f3f5;
    text-align: center;

}

a {
    text-decoration: none !important;

}

.box--icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 110px;
    width: 110px;
}

.box--title {
    font-size: 18px;
    font-family: "Liberation Sans";
}

.box--tuto {
    font-size: 18px;
    color: white;
}

.box--tuto:hover {
    color: white;
}

.category {
    margin-left: 10px;
    padding: 5px;
}

.page {
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid;
}

hr {
    width: 60%;
}

.blue-custom-color {
    color: #09c0f5;
    border-color: #09c0f5;
}

.purple-custom-color {
    color: #ba14f1;
    border-color: #ba14f1;
}

.green-custom-color {
    color: #68bf7a;
    border-color: #68bf7a;
}

.orange-custom-color {
    color: #fd7e14;
    border-color: #fd7e14;
}

.deepblue-custom-color {
    color: #15aabf;
    border-color: #15aabf;
}

.pink-custom-color {
    color: #fc09cb;
    border-color: #fc09cb;
}

.lightgreen-custom-color {
    color: #23cdab;
    border-color: #23cdab;
}

/*********************/
/* tutorials styling */
/*********************/

.blue-custom-color--tuto {
    background-color: #09c0f5;
}

.purple-custom-color--tuto {
    background-color: #ba14f1;
}

.green-custom-color--tuto {
    background-color: #68bf7a;
}

.orange-custom-color--tuto {
    background-color: #fd7e14;
}

.deepblue-custom-color--tuto {
    background-color: #15aabf;
}

.pink-custom-color--tuto {
    background-color: #fc09cb;
}

.lightgreen-custom-color--tuto {
    background-color: #23cdab;
}
